* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: auto;
    background-color: rgb(95, 95, 95);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo a {
    color: white;
    font-size: 40px;
    text-decoration: none;
}

.search_box {
    display: flex;
    border: 1px solid white;
}

.search_box select {
    width: 200px;
    padding: 15px;
    border: none;
    font-size: 20px;
    color: black;
}

.search_box input {
    border: none;
    outline: none;
    font-size: 20px;
    width: 300px;
    color: white;
}

.search_box button {
    padding: 13px;
    font-weight: 800;
    cursor: pointer;
    border: none;
    background-color: rgb(95, 95, 95);
    color: white;
}

.search_box button i {
    font-size: 15px;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.navbar_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.navbar_nav li {
    list-style: none;
}

.navbar_nav li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 30px;
}

.navigation li {
    list-style: none;
}

.navigation li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.banner {
    width: 100%;
    height: 400px;
}

.banner_img {
    width: 100%;
    height: 100%;
    background-image: url(https://demo.templatesjungle.com/clothique/images/banner-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 15px;
    padding: 0px 100px;
}

.banner_img>div {
    color: gray;
    font-size: 20px;
}

.banner_img>span {
    cursor: pointer;
}

.banner_img>div a {
    text-decoration: none;
    color: gray;
    padding: 5px;
}

.banner_img>h1 {
    color: rgb(33, 37, 41);
    font-size: 80px;
    font-weight: 100;
}

.text_container {
    width: 1600px;
    margin: auto;
    color: rgb(94, 90, 90);
    font-size: 17px;
    padding: 90px 0px;
    line-height: 30px;
}

.text_box p {
    padding: 15px 0;
}

.text_box .Vivamus>span {
    font-weight: 700;
}

.short_and_heat_container {
    width: 1600px;
    margin: auto;
}

.short_and_heat_container>div {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
}

.short_and_heat_container img {
    width: 100%;
    height: 500px;
    overflow: hidden;
    padding: 20px 0;
}

.About_Clothique_Team_Container {
    width: 1600px;
    margin: auto;
    padding: 40px 15px;
}

.About_Clothique_Team_Container>h1 {
    font-size: 40px;
}

.About_team_container {
    width: 1600px;
    margin: auto;
    color: rgb(124, 114, 114);
}

.About_team_box {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
    color: rgb(113, 102, 102);
    font-size: 17px;
}

.About_team_container>div {
    line-height: 30px;
}

.About_team_container p {
    padding: 35px 0;
}

label {
    display: none;
    font-size: 30px;
    color: white;
}


footer {
    width: 100%;
    height: auto;
    background-color: rgb(33, 37, 41);
    cursor: pointer;
}

.Clothique_Container {
    width: 1500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 15px;
    overflow: hidden;
    padding: 200px 0;
    color: white;
}

.Clothique_logo>h1 {
    font-weight: 400;
    font-size: 60px;
}

.Clothique_logo ul {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
    list-style: none;
    margin: 20px 0;
}

.Clothique_logo li {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 9px;
    font-size: 20px;
    padding: 8px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Clothique_logo a {
    color: white;
    transition: 0.3s;
}

.Clothique_logo li:hover {
    background-color: white;
}

.Clothique_logo a:hover {
    color: black;
}

.Clothique_Container h3 {
    font-size: 25px;
    font-weight: 400;
}

.Clothique_Container ul {
    list-style: none;
    margin: 20px 0;
}

.Clothique_Container li {
    line-height: 35px;
    letter-spacing: 1px;
    font-weight: 300;
}

.Clothique_Container a {
    color: rgb(248, 248, 248);
    text-decoration: none;
    font-size: 18px;
}

.Clothique_Container p {
    font-size: 18px;
    margin: 20px 0;
    line-height: 35px;
    letter-spacing: 1px;
    font-weight: 300;
}

.Subscribe_Us_text>div {
    display: flex;
    border: none;
}

.Subscribe_Us_text .input_box>input {
    width: 100%;
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: start;
    outline: none;
    font-size: 20px;
    border: none;
}


.Subscribe_Us_text .input_box>button {
    padding: 10px 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    background-color: rgb(117, 131, 159);
    transition: 0.3s;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}

.Subscribe_Us_text .input_box>button:hover {
    background-color: #4a5263;
}

#menu_button {
    display: none;
}

.navigation_mobile {
    display: none;
}


.navigation_mobile {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    display: none;
}


@media(min-width: 1024px) and (max-width: 1300px) {
    header {
        width: 100%;
        padding: 20px;
        position: relative;
        z-index: 99999;
    }

    nav {
        position: absolute;
        flex-direction: column-reverse;
        top: 100%;
        right: 0;
        background-color: rgb(95, 95, 95);
        padding: 0 20px;
        overflow: hidden;
        height: 0;
        width: 400px;
        transition: 0.5s;
        z-index: 999999;
    }

    nav ul {
        flex-direction: column;
    }

    label {
        display: block;
    }

    #menu_button:checked~nav {
        padding: 20px;
        height: 450px;
    }

    .navigation {
        display: none;
    }

    .navigation_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .navigation_mobile li {
        list-style: none;
    }

    .navigation_mobile a {
        color: white;
        font-size: 20px;
    }

    .text_container {
        width: 100%;
        font-size: 25px;
        letter-spacing: 1px;
        padding: 0 15px;
    }

    .short_and_heat_container {
        width: 100%;
        padding: 0 15px;
    }

    .About_Clothique_Team_Container {
        width: 100%;
    }

    .About_team_container {
        width: 100%;
    }

    .About_team_box {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        gap: 50px;
        font-size: 29px;
        padding: 0 15px;
        letter-spacing: 1px;
    }
    .About_team_box>div{
        width: 100%;
    }

    footer {
        width: 100%;
    }

    .Clothique_Container {
        width: 100%;
        padding: 100px 50px;
        color: white;
        flex-wrap: wrap;
    }
}

@media(min-width: 768px) and (max-width: 1024px) {
    header {
        width: 100%;
        padding: 20px;
        position: relative;
        justify-content: space-between;
        z-index: 99999;
    }

    nav {
        position: absolute;
        flex-direction: column-reverse;
        top: 100%;
        right: 0;
        background-color: rgb(95, 95, 95);
        padding: 0 20px;
        overflow: hidden;
        height: 0;
        width: 400px;
        transition: 0.5s;
        z-index: 999999;
    }

    nav ul {
        flex-direction: column;
    }

    label {
        display: block;
    }

    #menu_button:checked~nav {
        padding: 20px;
        height: 450px;
    }

    .navigation {
        display: none;
    }

    .navigation_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .navigation_mobile li {
        list-style: none;
    }

    .navigation_mobile a {
        color: white;
        font-size: 20px;
    }

    .text_container {
        width: 100%;
        font-size: 20px;
        letter-spacing: 1px;
        padding: 0 15px;
    }

    .short_and_heat_container img {
        width: 100%;
        height: 400px;
    }

    .About_Clothique_Team_Container>h1 {
        font-size: 35px;
    }

    .short_and_heat_container {
        width: 100%;
        padding: 0 15px;
    }

    .About_Clothique_Team_Container {
        width: 100%;
    }

    .About_team_container {
        width: 100%;
    }

    .About_team_box {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        gap: 50px;
        font-size: 23px;
        padding: 0 15px;
        letter-spacing: 1px;
    }

    footer {
        width: 100%;
    }

    .Clothique_Container {
        width: 100%;
        padding: 100px 50px;
        color: white;
        flex-wrap: wrap;
    }
}


@media(min-width: 552px) and (max-width: 768px) {
    header {
        width: 100%;
        padding: 20px;
        position: relative;
        justify-content: space-between;
        z-index: 99999;
    }

    .search_box {
        display: none;
    }

    nav {
        position: absolute;
        flex-direction: column-reverse;
        top: 100%;
        right: 0;
        background-color: rgb(95, 95, 95);
        padding: 0 20px;
        overflow: hidden;
        height: 0;
        width: 400px;
        transition: 0.5s;
        z-index: 999999;
    }

    nav ul {
        flex-direction: column;
    }

    label {
        display: block;
    }

    #menu_button:checked~nav {
        padding: 20px;
        height: 450px;
    }

    .navigation {
        display: none;
    }

    .navigation_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .navigation_mobile li {
        list-style: none;
    }

    .navigation_mobile a {
        color: white;
        font-size: 20px;
    }

    .text_container {
        width: 100%;
        font-size: 18px;
        letter-spacing: 1px;
        padding: 0 15px;
    }

    .short_and_heat_container img {
        width: 100%;
        height: 300px;
    }

    .About_Clothique_Team_Container>h1 {
        font-size: 30px;
    }

    .short_and_heat_container {
        width: 100%;
        padding: 0 15px;
    }

    .About_Clothique_Team_Container {
        width: 100%;
    }

    .About_team_container {
        width: 100%;
    }

    .About_team_box {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        gap: 50px;
        font-size: 20px;
        padding: 0 15px;
        letter-spacing: 1px;
    }

    footer {
        width: 100%;
    }

    .Clothique_Container {
        width: 100%;
        padding: 100px 50px;
        color: white;
        flex-wrap: wrap;
    }
}


@media(max-width: 552px) {
    header {
        width: 100%;
        padding: 20px;
        position: relative;
        justify-content: space-between;
        z-index: 99999;
    }

    .search_box {
        display: none;
    }

    nav {
        position: absolute;
        flex-direction: column-reverse;
        top: 100%;
        right: 0;
        background-color: rgb(95, 95, 95);
        padding: 0 20px;
        overflow: hidden;
        height: 0;
        width: 100%;
        transition: 0.5s;
        z-index: 999999;
    }

    nav ul {
        flex-direction: column;
    }

    label {
        display: block;
    }

    #menu_button:checked~nav {
        padding: 18px;
        height: 450px;
    }

    .navigation {
        display: none;
    }

    .navigation_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .navigation_mobile li {
        list-style: none;
    }

    .navigation_mobile a {
        color: white;
        font-size: 20px;
    }

    .text_container {
        width: 100%;
        font-size: 18px;
        letter-spacing: 1px;
        padding: 0 15px;
    }

    .short_and_heat_container img {
        width: 100%;
        height: 450px;
    }
    .short_and_heat_container>div {
    flex-direction: column;
}

    .About_Clothique_Team_Container>h1 {
        font-size: 27px;
    }

    .short_and_heat_container {
        width: 100%;
        padding: 0 15px;
    }

    .About_Clothique_Team_Container {
        width: 100%;
    }

    .About_team_container {
        width: 100%;
    }

    .About_team_box {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        gap: 50px;
        font-size: 20px;
        padding: 0 15px;
        letter-spacing: 1px;
    }

    footer {
        width: 100%;
    }

    .Clothique_Container {
        width: 100%;
        padding: 100px 50px;
        color: white;
        flex-wrap: wrap;
    }

    .Clothique_logo {
        width: 100%;
    }

    .clothes_text {
        width: 100%;
    }

    .Quick_Links_text {
        width: 100%;
    }
}